airflow-webserver.pid
airflow.db

# 🔐 Clés et secrets
*.json              # Clés GCP, AWS, etc.
.env                # Variables d’environnement
*.key               # Clés Fernet, SSH…


# 📦 Environnements virtuels
venv/
.env/
.envrc/
*.lock

# 📊 Notebooks
.ipynb_checkpoints/

# 🧪 Tests et cache
.tox/
.nox/
.coverage
.pytest_cache/

# 📁 Airflow
logs/
dags/__pycache__/
airflow.cfg
unittest.cfg
*.airflowignore

# 🐳 Docker
*.pid
*.sock
*.tar
*.gz

# 🧠 IDEs
.vscode/
.idea/
.DS_Store

# 📦 Build
build/
dist/
*.whl


Utils/__pycache__/

p04_data_orchestration/.env
p02_data_transformation/.env
p01_data_ingestion/.env

p02_data_transformation/libs/gcs-connector-hadoop3-2.2.2-shaded.jar
p04_data_orchestration/libs/gcs-connector-hadoop3-2.2.2-shaded.jar

p01_data_ingestion/scripts/__pycache__/
p04_data_orchestration/dags/__pycache__/

# 🐍 Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
*.bak
*.pyc
*.jar